*{
    padding: 0px;
    margin:0px;
    font-family: sans-serif;
}
span{
    color: #FD6E0A;
}
.header-container{
    background-color: #FFF8F3;
}
.header-main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
}
.main-menu{
    display: flex;
}

.main-menu ul li{
    list-style: none;
    display: inline;
    margin: 0px 10px;
    font-size: 30px;
    text-decoration: none;
}
.main-menu ul li a{
    text-decoration: none;
    color: #000;
}
.btn-primary{
    background-color: #FD6E0A;
    padding: 12px 24px;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    margin-top: -7px;
}
.banner-main{
    display: flex;
    align-items: center;
}